.home-container {
  width: 100vw;
  overflow: scroll;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficulty-button {
  width: 100px;
}