footer {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 20px;
  background-color: rgb(99, 196, 164);
  width: 100vw;
  position: relative;
  bottom: 0;
}

.footer-info {
  margin: 0;
  padding-right: 8px;
  text-decoration: none;
  color: black;
}